<!-- HEADER -->
<header>
  <mat-toolbar class="mat-elevation-z5" color="primary">
      <span>iEvents Guest </span>
      <div fxFlex></div>
      <button mat-button><span class="material-icons">help</span> Help </button>
  </mat-toolbar>
</header>

<div class="container content">
  <div class="row justify-content-center">
    <div class="col-sm-6">

      <!--GUEST FORM -->
      <div *ngIf="showForm">
        <mat-card>
          <form #form="ngForm" (submit)="submitForm(form)" novalidate>
            <mat-card-title>Guest Information</mat-card-title>

            <mat-card-content>
              <mat-form-field class="guest-full-width">
                <input matInput placeholder="Company ID" name="companyid" [(ngModel)]="model.companyid" maxlength="7" required>
                <mat-error>Enter valid company id.</mat-error>
              </mat-form-field>

              <mat-form-field class="guest-full-width">
                <input matInput placeholder="First Name" name="firstname" [(ngModel)]="model.firstname" maxlenth="50" required>
                <mat-error>This is a required field.</mat-error>
              </mat-form-field>

              <mat-form-field class="guest-full-width">
                  <input matInput placeholder="Middle Name" name="middlename" [(ngModel)]="model.middlename" maxlength="50">
              </mat-form-field>

              <mat-form-field class="guest-full-width">
                  <input matInput placeholder="Last Name" name="lastname" [(ngModel)]="model.lastname" maxlength="50" required>
                  <mat-error>This is a required field.</mat-error>
              </mat-form-field>

              <mat-form-field class="guest-full-width">
                  <input matInput placeholder="Mobile Number (09171234567)" name="phone" [(ngModel)]="model.phone" maxlength="11">
              </mat-form-field>

              <mat-form-field class="guest-full-width">
                  <input matInput placeholder="E-mail" name="email" [(ngModel)]="model.email" maxlength="100">
              </mat-form-field>
            </mat-card-content>

            <mat-card-actions>
              <div fxFlex></div>
              <button type="submit" class="guest-btn-center" mat-raised-button color="primary" [disabled]="form.invalid">SUBMIT</button>
              <div fxFlex></div>
            </mat-card-actions>
          </form>
        </mat-card>
      </div>

      <!-- QR CODE -->

      <div *ngIf="showQr">
        <mat-card>
          <mat-card-title>Your QR Code!</mat-card-title>
          <mat-card-content>
            <div fxFlex></div>
            <img src="{{urlQr}}" />
            <div fxFlex></div>
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex></div>
            <button mat-raised-button color="primary" (click)="reset()"> RESET</button>
            <div fxFlex></div>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>
  </div>
</div>



