.container {
  margin-top: 30px;
}
.guest-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.guest-full-width {
  width: 100%;
}

.guest-footer {
  position: fixed;
  height: 30px;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}

.guest-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:100%;
}

.guest-sidenav-menu{
  padding: 20px;
  width: 220px;
}
